
<h1> Log In </h1>

<%= form_for(:session, url: sessions_path) do |f| %>
    <%=f.label :Username %>
    <%=f.text_field :Username %>
    <%=f.submit "Login", class: "btn" %>
    <%end%>
    <p> No Account? <%= link_to "Create Account", signup_path %>
