<div class="mt-5 d-flex justify-content-center  flex-column">

<%=form_for(@user, :html => {:muiltipart => true}) do |f| %>
<%= render 'posts/error_messages', object: f.object %>
  <div>
    <%=f.label :Username %>
    <%=f.text_field :Username %>
  </div
  <div>
    <%=f.label :Fullname %>
    <%=f.text_field :Fullname %>
  </div>

  <div> 
  <fieldset>
  <%= f.label :Photo, 'Photo' %>
  <%= f.hidden_field :Photo_cache %>
  <%= f.file_field :Photo%>
</fieldset>
</div>

<div>
<fieldset>
  <%= f.label :Coverimage, 'Coverimage' %>
  <%= f.hidden_field :Coverimage_cache %>
  <%= f.file_field :Coverimage%>
</fieldset>
</div>
<%= f.submit "Sign Up" %>
<%end%>
</div>
<%= link_to "Log in", login_path, method: "get" %>